

/* Centramos el contenedor principal */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-container, .signup-container {
    background-color: #1A1D1E;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%; /* Asegura que no exceda el ancho */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para realzar el diseño */
    color: #EAA118;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  button.submit-btn {
    background-color: #EAA118;
    color: #1A1D1E;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    margin-top: 10px;
  }
  
  button.submit-btn:hover {
    background-color: #d98c10;
    transform: scale(1.05);
  }
  
  button.submit-btn:active {
    transform: scale(0.95);
  }
  
  p {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
  }